/* Responsive Style For Mobile Phones Portrait */
@media only screen and (min-width: 320px) and (max-width:480px) {
    body{
        background-color: white;
    }
    .hero{
        margin: 0px auto;
        max-width: 100%;
        background-position: center;
        background-size: cover;
        height: auto;
    }
    .hero .navbar{
        height: auto;
        background-color: white;
        width: 100%;
        position: scroll;
        margin: 0px auto;
    }
    .hero .navbar .menu-items{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        height: inherit;
        box-sizing: border-box;
        background-color: transparent;
    }
    .hero .navbar .menu-items a{
        display: inline-block;
        color: black;
        vertical-align: text-bottom;
        text-transform: capitalize;
        text-decoration: none;
        float: none;
        padding: 0;
        font-size: 15px;
        line-height: normal;
        padding:0 1px 2px 1px;
        font-family:Century Gothic;
        letter-spacing:normal;
        font-weight:bold;
        margin:15px 15px;
        transition: color .3s;
    }
    .hero .navbar .menu-items a:hover{
        color:orange;
        box-shadow: none;
    }
    .hero .navbar .menu-items .logo{
        text-align: center;
        font-family:;
        background-color: black;
        font-weight: bold;
        display: block;
        width: 100%;
        font-size: 40px;
        padding: 0;
        height: auto;
        color: orange;
        border: 2px solid black;
        margin: 0px auto;
    }
    .hero .navbar .menu-items .logo img{
        padding: 0;
        margin: 0;
    }
    .hero .navbar .menu-items .logo .m{
        font-size: 53px;
    }
    .hero .navbar .menu-items .logo .logo-first-word{
        color: white;
    }
    .hero .navbar .menu-items .logo:hover{
        color: orange;
    }
    .hero .navbar .menu-items .active-page{
        color: orange;
        box-shadow: none;
    }
    .hero .hero-banner{
        max-width: 1280px;
        text-align: center;
        margin: 0 auto;
        height: 100%;
    }
    .hero .hero-banner .hero-banner-head{
        vertical-align: middle;
        text-align: center;
        margin: 0 5px;
        padding: 100px 0;
        height: 100%;
    }
    .hero .hero-banner .hero-banner-head .heading{
        text-align: center;
        vertical-align: middle;
        font-family: Anton-Regular;
        font-size: 70px;
        text-shadow:none;
        margin: 0px auto;
        letter-spacing: 5px;
        font-weight: normal;
        width:100%;
        color: white;
        font-style: normal;
    }
    .hero .hero-banner p{
        text-align: center;
        font-family: Angelface;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 6px;
        text-transform: uppercase;
        word-spacing: 8px;
        color: white;
        margin: 0 auto;
        width: auto;
        padding:0;
    }
    .note{
        max-width: 100%;
        margin: 0 auto;
        background-color: orange;
        box-sizing: border-box;
        border: 2px solid orange;
    }
    .note p{
        max-width: 1280px;
        margin: 10px auto;
        text-align: center;
        font-size: 15px;
        color: white;
        word-spacing:normal;
        font-family: inherit;
    }
    .content-box{
        margin: 20px auto;
        max-width: 100%;
    }
    .content-box .content-box-modal{
        max-width: 1280px;
        margin: 00px auto;
        text-align: center;
        box-sizing: border-box;
        background-color: white;
        padding: 0px 0;
    }
    .content-box .content-box-modal h2{
        font-family: Coves-Bold ;
        font-size: 35px;
        text-align: center;
        margin: 0px auto;
        text-transform: capitalize;
        font-weight: normal;
        color: white;
        padding: 8px 0;
        background-color: black;
        letter-spacing: normal;
    }
    .content-box .content-box-modal .fonts-box {
        float: center;
        margin:10px 2px;
        background-color: white;
        display: inline-block;
        height: auto;
        max-width: 400px;
        overflow: hidden;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
        transition: box-shadow 1s ease;
    }
    .content-box .content-box-modal .fonts-box:hover{
        box-shadow: 0px 0px 15px rgba(0,0,0,0.8);
        cursor: pointer;
    }
    .content-box .content-box-modal a img {
        width: 320px;
        height: 210px;
        margin: 0;
        padding: 0;
    }
    .content-box .content-box-modal a img:hover{
        cursor: zoom-in;
        transform: none;
    }
    .content-box .content-box-modal a {
        text-decoration: none;
    }
    .content-box .content-box-modal .fonts-box p a{
        color: gray;
    }
    .content-box .content-box-modal .fonts-box p{
        margin: 0 0 0 5px;
        text-align: left;
        font-size: 14px;
        line-height: 2;
        text-transform: capitalize;
        font-family: H_Helvetica-2;
    }
    .content-box .content-box-modal .fonts-box .download-button{
        background-color: blue;
        margin: 0 auto;
        float: right;
        background-color:white;
        border: none;
        width: auto;
        height: 20px;
    }
    .content-box .content-box-modal .fonts-box .download-button a{
        color: green;
        padding: 0;
        line-height: 2;
        margin: 0 auto;
        font-family: H_Helvetica-2;
        font-weight: normal;
        font-size: 14px;
    }
    .content-box .content-box-modal .fonts-box .download-button a:hover{
        color: #47a3da;  
    }
    .content-box .content-box-modal .qut h2{
        color: black;
        font-size: 50px;
    }
    #top-fonts{
        background-color:black;
        border: none;
        margin: 0 auto;
        height: auto;
    }
    #top-fonts .content-box-modal{
        background: linear-gradient( 0deg, rgba(0,0,0,.3),rgba(0,0,0,.2)), crimson;
    }
    #top-fonts .content-box-modal .fonts-box{
        float: center;
        margin:10px 2px;
        background-color: black;
        display: inline-block;
        height: auto;
        max-width: 400px;
        overflow: hidden;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
        transition: box-shadow 1s ease;

    }
    #top-fonts .content-box-modal .fonts-box a img {
        width: 320px;
        height: 200px;
        margin: 0;
        padding: 0;
    }
    #top-fonts .content-box-modal h2{
        color: white;
        font-family: Waffle;
        margin: 0 auto 30px auto;
        background-color:black;
        text-transform: uppercase;
        word-spacing: 5px;
        border: 2px solid black;
        text-shadow: 1px 2px 1px rgba(0,0,0,0.5);
    }
    #top-fonts .content-box-modal .fonts-box p{
        margin: 0 0 0 5px;
        text-align: left;
        font-size: 14px;
        line-height: 2;
        overflow: none;
        text-transform: capitalize;
        font-family: H_Helvetica-2;
    }
    .content-box{
        margin: 0 auto;
        background-color: white;
        padding: 0 auto;
    }
    .content-box .content-box-modal{
        background-color: ;
        margin: 0 auto;
    }
    .content-box .content-box-modal .quote{
        background-color: white;
        margin: 0 auto;
    }    
    .content-box .content-box-modal .quote blockquote{
        font-size: 1.1em;
        color: #888;
        font-family: Lato;
        margin: 20px 5px;
        text-align: center;
    }
    .content-box .content-box-modal .quote footer{
        font-size: 0.9em;
        text-align: center;
        color: #47a3da;
    }
    .footer{
        max-width: 100%;
        margin: 0px auto;
        height: auto;
        background-color: black;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .footer .company-info{
        max-width: 1280px;
        margin: 10px auto;
        background-color: none;
        height: auto;
    }
    .footer .company-info p{
        text-align: center;
        color: rgba(255,255,255,0.6);
        margin: 0px auto;
        font-family: Century Gothic;
        font-weight: normal;
        letter-spacing: 1px;
        line-height: 2;
        font-size: 12px;
    }
    .footer .company-info p a{
        text-decoration: underline;
        color: inherit;
        transition: color 0.5s ease;
    }
    .footer .company-info p a:hover{
        color: white;
    }
    .load-more{
        max-width: 1280px;
        margin: 50px auto;
        text-align: center;
        padding: 0px auto;
        background-color: none;
    }
    .load-more a .load-more-button:hover{
        cursor: pointer;
        background-color: orange;
        border: 2px solid orange;
        color: white;
    }
    .load-more a .load-more-button:active{
        color: orange;
    }
    .load-more a .load-more-button:visited{
        color: #47a3da;
    }
    .load-more a .load-more-button{
        font-size: 0.9em;
        color: orange;
        transition:  1s;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: Century Gothic;
        width: 150px;
        height: 40px;
        margin: 0;
        text-align: center;
        border: 2px solid orange;
        background-color: orange;
        color: white;
    }
    .container .main{
        height: auto;
        padding: 0 auto;
        margin: 0 auto;
    }
    .main,
    .container{
        width: 100%;
        max-width: 69em;
        margin: 0 auto;
        padding: 0.7em 1.5em 0.7em 1.5em;
    }
    .cbp-qtrotator{
        position: content-box-modalative;
        margin: 4em auto;
        max-width: 1280px;
        width: 100%;
        max-height: 100px;
    }
    .cbp-qtrotator .cbp-qtcontent{
        position: absolute;
        min-height: 100px;
        border-top: 1px solid #f4f4f4;
        border-bottom: 1px solid #f4f4f4;
        padding: 0;
        top: 0;
        z-index: 0;
        opacity: 0;
        width: 100%;
    }
    .no-js .cbp-qtrotator .cbp-qtcontent{
        border-bottom: none;
    }
    .cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
    .no-js .cbp-qtrotator .cbp-qtcontent{
        position: content-box-modalative; 
        z-index: 100;
        pointer-events: auto;
        opacity: 1;
    }
    .cbp-qtrotator .cbp-qtcontent:herofore,
    .cbp-qtrotator .cbp-qtcontent:after{
        content: " ";
        display: table;
    }
    .cbp-qtrotator .cbp-qtcontent:after{
        clear: both;
    }
    .cbp-qtprogress{
        position: absolute;
        background: #47a3da;
        height: 1px;
        width: 0%;
        top: 0;
        z-index: 1000;
    }
    .cbp-qtrotator blockquote{
        margin: 0;
        padding: 0;
    }
    .cbp-qtrotator blockquote p{
        font-size: 1.75em;
        color: #888;
        font-weight: 300;
        margin: 0.4em 0 1em;
        text-align: center;
    }
    .cbp-qtrotator blockquote footer{
        font-size: 1.2em;
        text-align: center;
        color: #47a3da;
    }
    .cbp-qtrotator blockquote footer:herofore{
        content: '― ';
    }
}


/* Responsive Style For Mobile Phones Landscape */
@media only screen and (min-width:481px) and (max-width:767px){
    body{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }   
    .hero{
        margin: 0px auto;
        max-width: 100%;
        background-position: center;
        background-size: cover;
        height: auto;
    }
    .hero .navbar{
        height: auto;
        background-color: white;
        width: 100%;
        position: scroll;
        margin: 0px auto;
        }
    .hero .navbar .menu-items{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        height: inherit;
        box-sizing: border-box;
        background-color: transparent;
    }
    .hero .navbar .menu-items a{
        display: inline-block;
        color: black;
        vertical-align: text-bottom;
        text-transform: capitalize;
        text-decoration: none;
        float: none;
        padding: 0;
        font-size: 20px;
        line-height: normal;
        padding:0;
        font-family: Century Gothic;
        letter-spacing: normal;
        font-weight: bold;
        margin: 15px;
        transition: color .3s;
        }
    .hero .navbar .menu-items a:hover{
        color:orange;
    }
    .hero .navbar .menu-items .logo{
        text-align: center;
        font-family:;
        font-weight: bold;
        display: block;
        width: 100%;
        font-size: 50px;
        padding: 0;
        height: auto;
        color: orange;
        margin: 15px auto;
    }
    .hero .navbar .menu-items .logo img{
        padding: 0;
        margin: 0;
    }
    .hero .navbar .menu-items .logo .m{
        font-size: 65px;
    }
    .hero .navbar .menu-items .logo .logo-first-word{
        color: black;
    }
    .hero .navbar .menu-items .logo:hover{
        color: orange;
    }
    .hero .navbar .menu-items .active-page{
        color: orange;
    }
    .hero .hero-banner{
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
        height: 77%;
    }
    .hero .hero-banner .hero-banner-head{
        vertical-align: middle;
        text-align: center;
        margin: 0 auto;
        height: 100%;
        }
    .hero .hero-banner .hero-banner-head .heading{
        text-align: center;
        vertical-align: middle;
        font-family: Anton-Regular;
        font-size: 85px;
        text-shadow:none;
        margin: 10px auto;
        letter-spacing: 5px;
        font-weight: normal;
        width:100%;
        color: white;
        font-style: normal;
        }
    .hero .hero-banner .hero-banner-head p {
        text-align: center;
        font-family: Angelface;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 10px;
        text-transform: uppercase;
        word-spacing: 8px;
        color: white;
        margin: 0 auto;
        width: auto;
        padding:0;
    }
    .content-box{
        margin: 0px auto;
        max-width: 100%;
        background-color: white;
    }
    .content-box .content-box-modal{
        max-width: 1280px;
        margin: 00px auto;
        text-align: center;
        box-sizing: border-box;
        padding: 0px 0;
    }
    .content-box .content-box-modal h2{
        font-family: Coves-Bold ;
        font-size: 35px;
        text-align: center;
        margin: 0px auto;
        text-transform: capitalize;
        font-weight: normal;
        color: white;
        padding: 8px 0;
        background-color: black;
        letter-spacing: normal;
    }
    .content-box .content-box-modal .fonts-box {
        float: center;
        margin:10px 10px;
        background-color: white;
        display: inline-block;
        height: auto;
        max-width: 400px;
        overflow: hidden;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
        transition: box-shadow 1s ease;
    }
    .content-box .content-box-modal .fonts-box:hover{
        box-shadow: 0px 0px 15px rgba(0,0,0,0.8);
        cursor: pointer;
    }
    .content-box .content-box-modal a img {
        width: 380px;
        height: 250px;
        margin: 0;
        padding: 0;
    }
    .content-box .content-box-modal a img:hover{
        cursor: pointer;
        transform: none;
    }
    .content-box .content-box-modal a {
        text-decoration: none;
    }
    .content-box .content-box-modal .fonts-box p a{
        color: gray;
    }
    .content-box .content-box-modal .fonts-box p{
        margin: 0 0 0 5px;
        text-align: left;
        font-size: 14px;
        line-height: 2;
        text-transform: capitalize;
        font-family: H_Helvetica-2;
    }
    .content-box .content-box-modal .fonts-box .download-button{
        background-color: blue;
        margin: 0 auto;
        float: right;
        background-color:white;
        border: none;
        width: auto;
        height: 20px;
    }
    .content-box .content-box-modal .fonts-box .download-button a{
        color: green;
        padding: 0;
        line-height: 2;
        margin: 0 auto;
        font-family: H_Helvetica-2;
        font-weight: normal;
        font-size: 14px;
    }
    .content-box .content-box-modal .fonts-box .download-button a:hover{
        color: #47a3da;  
    }
    #top-fonts{
        background-color: background: linear-gradient( 0deg, rgba(0,0,0,.3),rgba(0,0,0,.2)), crimson;
        border: none;
        height: auto;
    }
    #top-fonts .content-box-modal{
        padding-bottom: 40px;
    }
    #top-fonts .content-box-modal h2{
        color: white;
        font-family: Waffle;
        margin: 0 auto 30px auto;
        background-color:black;
        text-transform: uppercase;
        border: 2px solid black;
        text-shadow: 1px 2px 1px rgba(0,0,0,0.5);
        word-spacing: 5px;
        padding: 10px 0;
        font-size: 50px;
        }
    .footer{
        max-width: 100%;
        margin: 0px auto;
        height: auto;
        background-color: black;
        border: 2px solid black;
        box-sizing: border-box;

    }
    .footer .company-info {
        max-width: 1280px;
        margin: 10px auto;
        background-color: none;
        height: auto;
    }
    .footer .company-info p{
        text-align: center;
        color: rgba(255,255,255,0.6);
        margin: 0px auto;
        font-family: Century Gothic;
        font-weight: normal;
        letter-spacing: 1px;
        line-height: 2;
        font-size: 12px;
    }
    .footer .company-info p a{
        text-decoration: underline;
        color: inherit;
        transition: color 0.5s ease;
    }
    .footer .company-info p a:hover{
        color: white;
    }
    .load-more{
        max-width: 1280px;
        margin: 50px auto;
        text-align: center;
        padding: 0px auto;
        background-color: none;
    }
    .load-more a .load-more-button:hover{
        cursor: pointer;
        background-color: orange;
        border: 2px solid orange;
        color: white;
    }
    .load-more a .load-more-button:active{
        color: orange;
    }
    .load-more a .load-more-button:visited{
        color: #47a3da;
    }
    .load-more a .load-more-button{
        font-size: 1em;
        color: orange;
        transition:  1s;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: Century Gothic;
        width: 170px;
        height: 50px;
        margin: 0;
        text-align: center;
        border: 2px solid orange;
        background-color: orange;
        color: white;

    }
    .container .main{
        height: auto;
        padding: 0 auto;
        margin: 0 auto;

    }
    .main,
    .container{
        width: 100%;
        max-width: 69em;
        margin: 0 auto;
        padding: 0.7em 1.5em 0.7em 1.5em;
    }
    .cbp-qtrotator{
        position: content-box-modalative;
        margin: 4em auto;
        max-width: 1280px;
        width: 100%;
        max-height: 100px;
        font-size: 70%;
    }
    .cbp-qtrotator .cbp-qtcontent{
        position: absolute;
        min-height: 100px;
        border-top: 1px solid #f4f4f4;
        border-bottom: 1px solid #f4f4f4;
        padding: 0;
        top: 0;
        z-index: 0;
        opacity: 0;
        width: 100%;
    }
    .no-js .cbp-qtrotator .cbp-qtcontent{
        border-bottom: none;
    }
    .cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
    .no-js .cbp-qtrotator .cbp-qtcontent{
        position: content-box-modalative; 
        z-index: 100;
        pointer-events: auto;
        opacity: 1;
    }
    .cbp-qtrotator .cbp-qtcontent:herofore,
    .cbp-qtrotator .cbp-qtcontent:after{
        content: " ";
        display: table;
    }
    .cbp-qtrotator .cbp-qtcontent:after{
        clear: both;
    }
    .cbp-qtprogress{
        position: absolute;
        background: #47a3da;
        height: 1px;
        width: 0%;
        top: 0;
        z-index: 1000;
    }
    .cbp-qtrotator blockquote {
        margin: 0;
        padding: 0;
    }
    .cbp-qtrotator blockquote p{
        color: #888;
        font-weight: 300;
        margin: 0.4em 0 1em;
        text-align: center;
    }
    .cbp-qtrotator blockquote footer{
        text-align: center;
        color: #47a3da;

    }
    .cbp-qtrotator blockquote footer:herofore{
        content: '― ';
    }
    .footer{
        max-width: 100%;
        margin: 0px auto;
        height: auto;
        background-color: black;
        border: 2px solid black;
        box-sizing: border-box;

    }
    .footer .company-info{
        max-width: 1280px;
        margin: 10px auto;
        background-color: none;
        height: auto;
    }
    .footer .company-info p{
        text-align: center;
        color: rgba(255,255,255,0.6);
        margin: 0px auto;
        font-family: Century Gothic;
        font-weight: normal;
        letter-spacing: 1px;
        line-height: 2;
        font-size: 12px;
    }
    .footer .company-info p a{
        text-decoration: underline;
        color: inherit;
        transition: color 0.5s ease;
    }
    .footer .company-info p a:hover{
        color: white;
    }
}

/* Responsive Style For Tablets */
@media only screen and (min-width:768px) and (max-width:1024px){
    body{
        margin: 0;
        padding: 0;
        width: auto;
        background-color:white;
        border: none
    }
     .hero{
        margin: 0px auto;
        max-width: 100%;
        background-position: center;
        background-size: cover;
        height: auto;
    }
    .hero .hero2{
        background-color: rgba(0,0,0,0.2);
        height: 100%;
    }
    .hero .navbar{
        height: auto;
        background-color: white;
        width: 100%;
        position: scroll;
        margin: 0px auto;
        }
    .hero .navbar .menu-items{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        height: inherit;
        box-sizing: border-box;
        background-color: transparent;
        }
    .hero .navbar .menu-items a{
        display: inline-block;
        color: black;
        vertical-align: text-bottom;
        text-transform: capitalize;
        text-decoration: none;
        float: none;
        padding: 0;
        font-size: 20px;
        line-height: normal;
        font-family: Century Gothic;
        letter-spacing: normal;
        font-weight: bold;
        margin: 20px 30px;
        transition: color .3s;
        }
    .hero .navbar .menu-items a:hover{
        color:orange;
    }
    .hero .navbar .menu-items .logo{
        text-align: center;
        font-family: ;
        font-weight: bold;
        display: block;
        width: 100%;
        font-size: 50px;
        padding: 0;
        height: auto;
        color: orange;
        margin: 15px auto;
        }
    .hero .navbar .menu-items .logo img{
        padding: 0;
        margin: 0;
    }
    .hero .navbar .menu-items .logo .m{
        font-size: 65px;
    }
    .hero .navbar .menu-items .logo .logo-first-word{
        color: black;
        }
    .hero .navbar .menu-items .logo:hover{
        color: orange;
    }
    .hero .navbar .menu-items .active-page{
        color: orange;
    }
    .hero-banner{
        max-width: 1280px;
        text-align: center;
        margin: 0 auto;
        height: 100%;
    }
    .hero-banner .hero-banner-head{
        vertical-align: middle;
        text-align: center;
        margin: 0 auto;
        height: 100%;
        }
    .hero-banner .hero-banner-head .heading{
        text-align: center;
        vertical-align: middle;
        font-family: Anton-Regular;
        font-size: 95px;
        text-shadow:none;
        margin: 20px auto;
        letter-spacing: 5px;
        font-weight: normal;
        width:100%;
        color: white;
        font-style: normal;
        }
    .hero-banner p {
        text-align: center;
        font-family: Angelface;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 10px;
        text-transform: uppercase;
        word-spacing: 8px;
        color: white;
        margin: 0 auto;
        width: auto;
        padding:0;
    }
    .note{
        max-width: 100%;
        margin: 0 auto;
        background-color: orange;
        box-sizing: border-box;
        border: 2px solid orange;
    }
    .note p{
        max-width: 1280px;
        margin: 7px auto;
        text-align: center;
        font-size: 20px;
        color: white;
        font-family: inherit;
    }
    .content-box{
        margin: 20px auto;
        max-width: 100%;
    }
    .content-box .content-box-modal{
        max-width: 1280px;
        margin: 00px auto;
        text-align: center;
        box-sizing: border-box;
        padding: 0px 0;
    }
    .content-box .content-box-modal h2{
        font-family: Coves-Bold ;
        font-size: 45px;
        text-align: center;
        margin: 0px auto;
        text-transform: capitalize;
        font-weight: normal;
        color: white;
        padding: 5px 0;
        background-color: black;
        letter-spacing: normal;
    }
    .content-box .content-box-modal .note-responsive{
        font-family: Coves-Bold;
        font-size: 20px;
        display: block;
    }
    .content-box .content-box-modal .fonts-box{
        float: center;
        margin:15px;
        background-color: white;
        display: inline-block;
        height: auto;
        max-width: 400px;
        overflow: hidden;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
        transition: box-shadow 1s ease;
    }
    .content-box .content-box-modal .fonts-box:hover{
        box-shadow: 0px 0px 15px rgba(0,0,0,0.8);
        cursor: pointer;
    }
    .content-box .content-box-modal a img {
        width: 360px;
        height: 240px;
        margin: 0;
        padding: 0;
    }
     .content-box .content-box-modal a img:hover{
        cursor: pointer;
        transform: none;
    }
    .content-box .content-box-modal a {
        text-decoration: none;
    }
    .content-box .content-box-modal .fonts-box p a{
        color: gray;
    }
    .content-box .content-box-modal .fonts-box p{
        margin: 0 0 0 5px;
        text-align: left;
        font-size: 14px;
        line-height: 2;
        text-transform: capitalize;
        font-family: H_Helvetica-2;
    }
    .content-box .content-box-modal .fonts-box .bd{
        background-color: blue;
        margin: 0 auto;
        float: right;
        background-color:white;
        border: none;
        width: auto;
        height: 20px;
    }
    .content-box .content-box-modal .fonts-box .bd a{
        color: green;
        padding: 0;
        line-height: 2;
        margin: 0 auto;
        font-family: H_Helvetica-2;
        font-weight: normal;
        font-size: 14px;
    }
    .content-box .content-box-modal .fonts-box .bd a:hover{
        color: #47a3da;  
    }
    #top-fonts{
        background-color: ; border: none;
        overflow: hidden;
        height: auto;
    }
    #top-fonts .content-box-modal{
        padding-bottom: 20px;
        background-color: background: linear-gradient( 0deg, rgba(0,0,0,.3),rgba(0,0,0,.2)), crimson;
    }
    #top-fonts .content-box-modal h2{
        color: white;
        font-family: Waffle;
        margin: 0px auto 30px auto;
        max-width: 100%;
        background-color:black;
        text-transform: uppercase;
        border: 2px solid black;
        text-shadow: 1px 2px 1px rgba(0,0,0,0.5);
        word-spacing: 5px;
        padding: 10px 0;
        box-sizing: border-box;
    }
    .load-more{
        max-width: 1280px;
        margin: 50px auto;
        text-align: center;
        padding: 0px auto;
        background-color: none;
    }
    .load-more a .load-more-button:hover{
        cursor: pointer;
        background-color: orange;
        border: 2px solid orange;
        color: white;
    }
    .load-more a .load-more-button:active{
        color: orange;
    }
    .load-more a .load-more-button:visited{
        color: #47a3da;
    }
    .load-more a .load-more-button{
        font-size: 0.9em;
        color: orange;
        transition:  1s;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: Century Gothic;
        width: 150px;
        height: 40px;
        margin: 0;
        text-align: center;
        border: 2px solid orange;
        background-color: orange;
        color: white;
    }
    .footer{
        max-width: 100%;
        margin: 0px auto;
        height: auto;
        background-color: black;
        border: 2px solid black;
        box-sizing: border-box;
    }
    .footer .company-info {
        max-width: 1280px;
        margin: 10px auto;
        background-color: none;
        height: auto;
    }
    .footer .company-info p{
        text-align: center;
        color: rgba(255,255,255,0.6);
        margin: 0px auto;
        font-family: Century Gothic;
        font-weight: normal;
        letter-spacing: 1px;
        line-height: 2;
        font-size: 12px;
    }
    .footer .company-info p a{
        text-decoration: underline;
        color: inherit;
        transition: color 0.5s ease;
    }
    .footer .company-info p a:hover{
        color: white;
    }}
