@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
html{
    font-size: 100%;
    padding: 0;
    margin: 0;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
body{
    margin: 0;
    padding: 0;
    width: auto;
    background-color:white;
    border: none;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}


/* Hero Section */
.hero{
    margin: 0px auto;
    max-width: 100%;
    height: 600px;
}
.hero .navbar{
    height: 80px;
    background-color: transparent;
    width: 100%;
    margin: 10px auto 0 auto;
}
.hero .navbar .menu-items{
    width: 1280px;
    text-align: right;
    margin: 0 auto;
    height: inherit;
    box-sizing: border-box;
    background-color: transparent;
}
.hero .navbar .menu-items a{
    display: inline-block;
    color: black;
    vertical-align: text-bottom;
    text-transform: capitalize;
    text-decoration: none;
    float: none;
    text-shadow: none;
    font-size: 15px;
    line-height: normal;
    padding: 0 1px 2px 1px;
    font-family: H_Helvetica-2;
    letter-spacing: 1px;
    font-weight: normal;
    margin:32.5px;
    transition: color, box-shadow .4s ease;
    }
.hero .navbar .menu-items a:hover{
    color:orange;
    box-shadow: 0 4px 0 rgba(255,165,0,0.7);
}
.hero .navbar .menu-items .logo{
    float: left;
    font-family: Lato, Century Gothic;
    font-weight: bold;
    font-size: 25px;
    padding: 0;
    height: auto;
    color: orange;
    margin: 0px auto;
    text-transform: lowercase;
    letter-spacing: normal;
    padding: 0;
    transition: all .5s ease;
}
.hero .navbar .menu-items .logo img{
    padding: 0;
    text-shadow: none;
    margin: 0;
}
.hero .navbar .menu-items .logo .m{
    font-size: 30px;
}
.hero .navbar .menu-items .logo .logo-first-word{
    color: black;
}
.hero .navbar .menu-items .logo:hover{
    color: orange;
    box-shadow: none;
    
}
.hero .navbar .menu-items .active-page{
    color: rgb(255,165,0);
    box-shadow: 0 4px 0 rgba(255,165,0,0.7);
    
}
.hero .hero-banner{
    max-width: 100%;
    text-align: center;
    display: ;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
.hero .hero-banner .hero-banner-head{
    margin: 0 auto;
    height: 100%;
    padding: 140px 0;
}
.hero .hero-banner .hero-banner-head .heading{
    text-align: center;
    font-family: Anton-Regular;
    font-size: 125px;
    vertical-align: middle;
    margin: 0px auto;
    letter-spacing: 5px;
    font-weight: normal;
    width:100%;
    color: white;
    font-style: normal;
}
.hero .hero-banner p{
    text-align: center;
    font-family: Angelface;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 14px;
    vertical-align: middle;
    text-transform: uppercase;
    word-spacing: 15px;
    color: white;
    width: auto;
    padding-left: 10px;
}
.note{
    max-width: 100%;
    margin: 0 auto;
    background-color: orange;
    box-sizing: border-box;
    border: 2px solid orange;
}
.note p{
    max-width: 1280px;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    color: white;
    word-spacing:normal;
    font-family: inherit;
}
/* Content-box Section */
.content-box{
            margin: 0px auto;
            max-width: 100%;
    background-color: white;
    border: 2px solid white;
}
.content-box .content-box-modal{
    max-width: 1280px;
    margin: 50px auto;
    text-align: center;
    box-sizing: border-box;
    padding: 0px 0;
}
.content-box .content-box-modal h2{
    font-family:Waffle;
    font-size: 50px;
    text-align: left;
    margin: 20px auto;
    text-transform: uppercase;
    margin-left: 8px;
    color: black;
}
.content-box .content-box-modal .note-responsive{
    display: none;
}
.content-box .content-box-modal .fonts-box {
    float: center;
    margin:17px;
    background-color: white;
    display: inline-block;
    height: auto;
    overflow: hidden;
    max-width: 400px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.content-box .content-box-modal .fonts-box:hover{
    
}
.content-box .content-box-modal a img{
    width: 390px;
    height: 260px;
    margin: 0;
    padding: 0;
    transition: all 1s ease;
}
.content-box .content-box-modal a img:hover{
    transform: scale(1.03);
    cursor: zoom-in;
}
.content-box .content-box-modal a{
    text-decoration: none;
}
.content-box .content-box-modal .fonts-box p a{
    color: gray;
}
.content-box .content-box-modal .fonts-box p{
    margin: 0 auto;
    margin-left: 6px;
    text-align: left;
    font-size: 17px;
    line-height: 2;
    text-transform: capitalize;
    font-family: H_Helvetica-2;
}
.content-box .content-box-modal .fonts-box .download-button{
    background-color: blue;
    margin: 0 auto;
    float: right;
    background-color:white;
    border: none;
    width: auto;
    height: 20px;
}
.content-box .content-box-modal .fonts-box .download-button a{
    color: green;
    padding: 0;
    line-height: 2;
    margin: 0 auto;
    font-family: H_Helvetica-2;
    font-weight: normal;
    font-size: 17px;
}
.content-box .content-box-modal .fonts-box .download-button a:hover{
    color: #47a3da;  
}
#top-fonts{
    background: linear-gradient( 0deg, rgba(0,0,0,.3),rgba(0,0,0,.2)), crimson;
    border: 2px solid transparent;
}
#top-fonts .content-box-modal .fonts-box{
    max-width: 450px;
    margin: 12px;
    background-color: black;
    transition: all 0.5s ease;
}
#top-fonts .content-box-modal .fonts-box:hover{
    box-shadow: 0px 0px 40px rgba(255,255,255,0.5);
}
#top-fonts .content-box-modal a img{
    width: 400px;
    height: 250px;
}
#top-fonts .content-box-modal a img:hover{
    transform: none;
    cursor: pointer;
}
#top-fonts .content-box-modal h2{
    color: black;
    margin: 40px 12px;
    text-shadow: 1px 2px 1px rgba(0,0,0,1);
}
#top-fonts .content-box-modal .fonts-box p a{
    color: white;
    font-size: 18px;
}
#top-fonts .content-box-modal .fonts-box .download-button{
    background-color: black;
}
#top-fonts .content-box-modal .fonts-box .download-button a{
    color: aqua;
}
#top-fonts .content-box-modal .fonts-box .download-button a:hover{
    color: deepskyblue;
}
/* Load More Button */
.load-more{
    max-width: 1280px;
    margin: 70px auto;
    text-align: center;
    padding: 0px auto;
    background-color: transparent;
}
.load-more a .load-more-button{
    font-size: 1em;
    color: white;
    transition:  1s;
    letter-spacing: 1px;
    font-weight: normal;
    font-family: H_Helvetica-2;
    transition: all 0.7s ease;
    width: 200px;
    height: 50px;
    margin: 50px auto;
    text-align: center;
    border: 2px solid black;
    background-color: black;
}
.load-more a .load-more-button:hover{
    cursor: pointer;
    opacity: 0.6;
}
/* Quotes Rotater */
.container .main{
    height: auto;
    padding: 0 auto;
    margin: 0 auto;
}
.main,
.container {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 1em 1.875em 10px 1.875em;
    font-family: 'Lato',sans-serif;
}
.cbp-qtrotator {
	position: relative;
	margin: 5em auto 5em auto;
	max-width: 1280px;
	width: 100%;
    max-height: 100px;
}

.cbp-qtrotator .cbp-qtcontent {
	position: absolute;
	min-height: 200px;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	padding: 0;
	top: 0;
	z-index: 0;
	opacity: 0;
	width: 100%;
    }
.no-js .cbp-qtrotator .cbp-qtcontent {
	border-bottom: none;
}
.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
	position: relative; 
	z-index: 100;
	pointer-events: auto;
	opacity: 1;
}
.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
	content: " ";
	display: table;
}
.cbp-qtrotator .cbp-qtcontent:after {
	clear: both;
}
.cbp-qtprogress {
	position: absolute;
	background: #47a3da;
	height: 1px;
	width: 0%;
	top: 0;
	z-index: 1000;
}
.cbp-qtrotator blockquote {
	margin: 0;
	padding: 0;
}
.cbp-qtrotator blockquote p {
	font-size: 1.75em;
	color: #888;
	font-weight: 500;
	margin: 0.4em 0 1em;
    text-align: center;
}
.cbp-qtrotator blockquote footer {
	font-size: 1.2em;
    text-align: center;
        color: #47a3da;

}
.cbp-qtrotator blockquote footer:before {
	content: '― ';
}
@media screen and (max-width: 30.6em){ 
    .cbp-qtrotator{
        font-size: 70%;
	}
}
/* Footer */
.footer{
    max-width: 100%;
    margin: 0px auto;
    height: auto;
    background-color: black;
    border: 2px solid black;
    box-sizing: border-box;

}
.footer .company-info {
    max-width: 1280px;
    margin: 50px auto;
    background-color: none;
    height: auto;
}
.footer .company-info p{
    text-align: center;
    color: rgba(255,255,255,0.6);
    margin: 0px auto;
    font-family: Century Gothic;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 12px;
}
.footer .company-info p a{
    text-decoration: underline;
    color: inherit;
    transition: color 0.5s ease;
}
.footer .company-info p a:hover{
    color: white;
    cursor: pointer;
}
/* For Fonts Page */
.content-box .content-box-modal .quote{
    margin: 50px auto;
}
.content-box .content-box-modal .quote blockquote{
    font-size: 1.5em;
	color: #888;
    font-family: Lato;
	margin: 0 auto;
    text-align: center;
}
.content-box .content-box-modal .quote footer{
    font-size: 0.7em;
    text-align: center;
    color: #47a3da;
}
/* For About Us Page */
.about{
    max-width: 1280px;
    margin: 0 auto;
    font-family:Nunito-Bold;
    box-sizing: border-box;
}
.about .about-info{
    max-width: 80%;
    margin: 100px auto;
    box-sizing: border-box;
    border: none;
}
.about .about-info h2{
    font-size: 50px;
    text-align: center;
    margin: 50px auto;
    text-transform: capitalize;
    font-weight: normal;
    color: black;
}
.about .about-info p{
    font-size: 15px;
    text-transform: capitalize;
    margin: 0 auto;
    text-align: justify;
    font-family: Nunito-SemiBold;
    font-weight: normal;
    letter-spacing: 0.4px;
    word-spacing: normal;
    line-height: 1.5;
    color: black;

}
.about .hr{
    margin: 0 auto;
    max-width: 80%;
    border-bottom: 1px solid black;
}
.about .owner-info{
    max-width: 1280px;
    margin: 100px auto;
    box-sizing: border-box;
}
.about .owner-info h2{
    font-family:Nunito-Bold;
    font-size: 50px;
    text-align: center;
    margin: 50px auto;
    font-weight: normal;
    text-transform: capitalize;
    color: black;
}
.about .owner-info .owner-profile{
    max-width: 80%;
    margin: 0 auto;
}
.about .owner-info .owner-profile img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
}
.about .owner-info .owner-profile h4{
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    font-family: Nunito-Bold;
}
.about .owner-info .owner-profile p{
    font-family: Nunito-SemiBold;
    text-align: justify;
}
.about .owner-info .owner-profile p a{
    text-decoration: none;
    color: orange;
}